.wizard-fade-enter-active[data-v-e110de01],.wizard-fade-leave-active[data-v-e110de01]{transition:opacity .3s ease}.wizard-fade-enter-from[data-v-e110de01],.wizard-fade-leave-to[data-v-e110de01]{opacity:0}
